[mod-setting-name]
_Template-double-setting=Test setting

[mod-setting-description]
_Template-double-setting=A test setting

;[entity-name]
;[entity-description]
;[technology-name]
;[technology-description]